name: Build C++ Test

on:
  push:
    branches: [main, development]
  pull_request:
    branches: [main, development]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        #os: [ubuntu-latest, macos-latest, windows-latest]
        os: [windows-2022]
        #build_type: [Release, Debug]
        build_type: [Debug]

    steps:
    - uses: actions/checkout@v3

    - name: Configure CMake
      run: cmake -B build_cpp -S . -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} 

    - name: Build C++ test
      run: cmake --build build_cpp --target test_cpp --config ${{ matrix.build_type }}

    - name: Run C++ tests (Linux/macOS)
      if: runner.os != 'Windows'
      run: cd build_cpp && ./bin/test_cpp

    - name: Run C++ tests (Windows)
      if: runner.os == 'Windows'
      run: .\build_cpp\Debug\test_cpp.exe
