name: Build C++ Test

on:
  push:
    branches: [ main development]
  pull_request:
    branches: [ main development]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        build_type: [Release, Debug]

    steps:
    - uses: actions/checkout@v3

    - name: Configure CMake
      run: cmake -B build_cpp -S . -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}

    - name: Build C++ test
      run: cmake --build build_cpp --target test_cpp --config ${{ matrix.build_type }}

    - name: Run C++ test
      run: cd build_cpp && ./bin/test_cpp
