name: CMake Build and Test

on:
  push:
    branches: [main, development]
  pull_request:
    branches: [main, development]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        #os: [ubuntu-latest, macos-latest, windows-latest]
        os: [windows-latest]
        #build_type: [Release, Debug]
        build_type: [Debug]
        
    steps:
    - uses: actions/checkout@v3

    - name: Configure CMake
      run: cmake -B build -S . -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} -DPSLP_BUILD_TESTING=ON
      
    - name: Build
      run: cmake --build build --config ${{ matrix.build_type }}
      
    - name: Run tests
      run: cd build && ctest -C ${{ matrix.build_type }} --verbose
