name: Coverage

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  coverage:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install tools
      run: sudo apt-get update && sudo apt-get install -y lcov gcovr

    # ---- BUILD ----
    - name: Configure
      run: cmake -DCOVERAGE=ON -DCMAKE_BUILD_TYPE=Debug -DPSLP_BUILD_TESTING=ON .

    - name: Build
      run: make -j

    # ---- RUN TESTS ----
    - name: Run tests
      run: |
        if [ -f "CTestTestfile.cmake" ]; then
          ctest --output-on-failure
        else
          bin/all_tests          
        fi

    # ---- GENERATE COVERAGE ----
    - name: Generate coverage
      run: |
        gcovr \
          --root . \
          --xml-pretty \
          --output coverage.xml \
          --exclude 'test/*' \
          --exclude 'build/*'

    # ---- SEND TO COVERALLS ----
    - name: Upload to Coveralls
      uses: coverallsapp/github-action@v2
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        path-to-lcov: coverage.xml
